@use "./theme" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
#app{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
a{
  color: #333;
}